{{>_loadingAudio}}
<div class="div-center">
  <div class="mt-4 text-center py-4">
    <h1>Áudio descrito com sucesso.</h1>
    <form method="POST" action="#">
      <input type="hidden" name="ramo" value="{{ramo}}" />
      <input type="hidden" name="evento" value="{{evento}}" />
      <button class="btn btn-dark px-3" type="submit">Continuar</button>
    </form>
  </div>
</div>
{{>_script}}
