{{>_nav}}
{{>_bbchain}}
<div class="container mt-4 mb-4">
  <h1 class="mt-4">Configurando a tela: {{screen.name}}</h1>
  <div class="rounded bg-white p-2">
    <div id="build-wrap"></div>
    <div class="row">
      <div class="col-md-8">
        <div class="render-wrap"></div>
      </div>
      <div class="col-md-4 mt-3">
        <h5 id="title-form">Ações</h5>
        <div class="row p-2">
          <div class="col-md-6">
            <button class="btn  btn-outline-warning form-control m-2" id="edit-form">
              <i class="ri-edit-line align-middle"></i> Formulário
            </button>
          </div>
          <div class="col-md-6">
            <form method="POST" action="/update/screen">
            <input type="hidden" name="id" value="{{screen.id}}" />
            <input type="hidden" id="jsonConfig" name="json">
            <input type="hidden" value="{{screen.phaseId}}" name="phase" />
            <button type="submit" class="btn btn-outline-success form-control m-2" id="save-form">
              <i class="ri-save-3-line align-middle"></i> Salvar
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
