<div class="container mt-5">
  <div class="div-center-2">
    <div class="rounded bg-white p-4">
      <div class="text-center">
        <img src="/assets/img/logo.png" class="logo mb-4" alt="Block4Vars" />
      </div>
      <h1>Login</h1>
      <form method="POST" action="/authenticate">
        <label>E-mail</label>
        <input type="email" class="form-control" name="email" />
        <label>Senha</label>
        <input type="password" class="form-control" name="password" />
        <button class="btn btn-dark mt-4"><i
            class="ri-login-box-line align-middle"
          ></i>
          Entrar</button>
      </form>
    </div>
  </div>
</div>