{{>_nav}}
{{>_bbchain}}
<div class="container mt-4">
    <div class="div-center">        
        <nav class="mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/configurations">Configurações</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="ri-settings-4-line align-middle"></i> Nova Configuração</li>
            </ol>
        </nav>
        <div class="shadow-sm border rounded bg-white p-3">
            <form method="POST" action="/new/config/screen">
            <div class="mb-3">
                <label>Ramo: </label>
                <select class="form-select" name="ramo">
                    <option value="Máquinas e equipamentos">Máquinas e equipamentos</option>
                    <option value="Benfeitoria">Benfeitoria</option>
                    <option value="Lavoura">Lavoura</option>
                </select>
                <label>Evento: </label>
                <select class="form-select" name="evento">
                    <option value="Incêndio">Incêndio</option>
                    <option value="Geada">Geada</option>
                    <option value="Granizo">Granizo</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit"><i class="ri-pencil-ruler-2-line align-middle"></i> Iniciar</button>
        </form>
        </div>
    </div>
</div>
{{>_script}}
