{{>_nav}}
{{>_bbchain}}
  <h1 class="m-2 mt-4">
    <i class="ri-shield-check-line align-middle"></i>
    Regulação
  </h1>
  <div class="bg-white shadow-sm rounded p-2 m-2">
    <div class="table-responsive">
          <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Número Sinistro</th>
                  <th scope="col">Data Aviso</th>
                  <th scope="col">Data Sinistro</th>
                  <th scope="col">Prazo Regulação</th>
                  <th scope="col">Ramo</th>
                  <th scope="col">Evento</th>
                  <th scope="col">Valor Pleiteado</th>
                  <th scope="col">Etapa</th>
                  <th scope="col">Classificação</th>
                  <th scope="col">Status</th>
                  <th scope="col">Parecer IA</th>
                  <th scope="col">Número Apólice</th>
                  <th scope="col">CPF</th>
                  <th scope="col">Segurado</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr class="align-middle">
                  <td>123</td>
                  <td>05/02/22</td>
                  <td>03/02/22</td>
                  <td>4 dias</td>
                  <td>Lavoura</td>
                  <td>Geada</td>
                  <td>R$100.000,00</td>
                  <td>Análise Inicial</td>
                  <td>--</td>
                  <td>Em Análise</td>
                  <td>--</td>
                  <td>9987</td>
                  <td>111.111.111-11</td>
                  <td>Chistian Souza</td>
                  <td>
                    <button
                      class="dropdown-toggle btn"
                      href="#"
                      data-bs-toggle="dropdown"
                    >
                      <i class="ri-settings-3-line"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="/regulation/view/123"><i
                            class="ri-eye-line align-middle"
                          ></i>
                          Visualizar</a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr class="align-middle">
                  <td>789</td>  
                  <td>11/02/22</td>
                  <td>10/02/22</td>
                  <td>10 dias</td>
                  <td>Máquinas</td>
                  <td>Incêndio</td>
                  <td>R$70.000,00</td>
                  <td>Análise Técnica</td>
                  <td>Massificado</td>
                  <td>Em Liquidação</td>
                  <td>Pagar</td>
                  <td>1436</td>
                  <td>333.333.333-33</td>
                  <td>Renato Martins</td>
                  <td>
                    <button
                      class="dropdown-toggle btn"
                      href="#"
                      data-bs-toggle="dropdown"
                    >
                      <i class="ri-settings-3-line"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="/regulation/view/789"><i
                            class="ri-eye-line align-middle"
                          ></i>
                          Visualizar</a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr class="align-middle">
                  <td>456</td>
                  <td>07/02/22</td>
                  <td>04/02/22</td>
                  <td>6 dias</td>
                  <td>Benfeitoria</td>
                  <td>Tempestade</td>
                  <td>R$30.000,00</td>
                  <td>Vistoria</td>
                  <td>--</td>
                  <td>Vistoria Agendada</td>
                  <td>--</td>
                  <td>9987</td>
                  <td>222.222.222-22</td>
                  <td>Adriano Lucas</td>
                  <td>
                    <button
                      class="dropdown-toggle btn"
                      href="#"
                      data-bs-toggle="dropdown"
                    >
                      <i class="ri-settings-3-line"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="/regulation/view/456"><i
                            class="ri-eye-line align-middle"
                          ></i>
                          Visualizar</a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>