{{>_nav}}
{{>_bbchain}}
<div class="container mt-4 mb-4">
    <div class="div-center">
      <h1 class="mb-3 align-middle">
        <i class="ri-eye-line align-middle"></i>
        Visualizando processo
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/regulation"> Regulação</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Sinistro: 456
          </li>
        </ol>
      </nav>
      <div class="bg-white rounded shadow-sm p-3">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Tela 01 - Dados do seguro
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Sinistro: 456</li>
                  <li class="list-group-item">Data aviso:  07/02/22</li>
                  <li class="list-group-item">Valor Pleiteado: R$30.000,00</li>
                  <li class="list-group-item">Is: R$100,00</li>
                  <li class="list-group-item">Apólice: 1436</li>
                  <li class="list-group-item">
                    Vigência Ínicio: 01/01/21
                  </li>
                  <li class="list-group-item">
                    Vigência Término: 01/01/22
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Tela 02 - Dados do segurado
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Segurado: Adriano Lucas</li>
                  <li class="list-group-item">CPF: 222.222.222-22</li> 
                  <li class="list-group-item">Fase: Aviso</li>
                  <li class="list-group-item">
                    Classificação: --
                  </li>
                  <li class="list-group-item">Status: Avisado</li>
                  <li class="list-group-item">
                    Analista Técnico Responsável: Beltrano
                  </li>
                  <li class="list-group-item">
                    Vistoriador Acionado: 01/01/21
                  </li>
                  <li class="list-group-item">Tipo Do Evento: Tempestade</li>
                  <li class="list-group-item">Prazo Regulação: 6 dias</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>