<div class="div-bbchain">
  <div class="container">
    powered by
    <a href="https://www.bbchain.com.br" target="_blank">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="logo-bbchain"
        viewBox="0 0 223.209 47.146"
      >
        <g id="Logo" transform="translate(-1872.839 -262.427)">
          <path
            id="type"
            d="M-1710.953-262.516a13.072,13.072,0,0,1,13.057-13.057,12.984,12.984,0,0,1,9.16,3.752l-3.791,3.849a7.613,7.613,0,0,0-5.37-2.2,7.663,7.663,0,0,0-7.654,7.655,7.661,7.661,0,0,0,7.654,7.654,7.6,7.6,0,0,0,5.412-2.242l3.821,3.821a12.973,12.973,0,0,1-9.232,3.824A13.071,13.071,0,0,1-1710.953-262.516Zm67,12.639v-4.4h-8.649v4.4h-5.859v-25.2h5.859a14.509,14.509,0,0,1,14.508,14.508v10.688Zm-8.649-9.628h8.649v-1.06a8.65,8.65,0,0,0-8.649-8.649Zm-16.834,9.627v-4.055H-1679.7v4.055h-5.222v-25.133h5.222v15.847h10.263v-15.847h5.222v25.133Zm36.908-.008v-25.138h5.223v25.138Zm-101.48-.191h-.123v-24.8h.123v-.034h13.237a7.469,7.469,0,0,1,7.391,7.528,7.613,7.613,0,0,1-1.763,4.891,7.617,7.617,0,0,1,1.763,4.891,7.47,7.47,0,0,1-7.391,7.528Zm5.152-5.277h8.086a2.19,2.19,0,0,0,2.116-2.252,2.166,2.166,0,0,0-2.061-2.253h-8.141Zm0-9.779h8.141a2.167,2.167,0,0,0,2.061-2.254,2.191,2.191,0,0,0-2.116-2.253h-8.086Zm-31.185,15.056h-.122v-24.8h.122v-.034h13.237a7.469,7.469,0,0,1,7.391,7.528,7.614,7.614,0,0,1-1.763,4.891,7.618,7.618,0,0,1,1.763,4.891,7.469,7.469,0,0,1-7.391,7.528Zm5.153-5.277h8.085a2.189,2.189,0,0,0,2.115-2.252,2.165,2.165,0,0,0-2.06-2.253h-8.14Zm0-9.779h8.14a2.166,2.166,0,0,0,2.06-2.254,2.19,2.19,0,0,0-2.115-2.253h-8.085Z"
            transform="translate(3697.388 552.472)"
            fill="#fff"
          ></path>
          <path
            id="Union_1"
            data-name="Union 1"
            d="M-1731.061-234.031a12.455,12.455,0,0,0,12.44-12.441h4.783a17.241,17.241,0,0,0-17.222-17.221v-5.6a22.852,22.852,0,0,1,22.826,22.826h-4.782a18.064,18.064,0,0,1-18.044,18.044Zm-14.457-12.441h1.864a12.482,12.482,0,0,1,12.469-12.469v5.847a6.629,6.629,0,0,0-6.622,6.621h-2.107a8.863,8.863,0,0,0,8.853,8.854v5.6A14.474,14.474,0,0,1-1745.518-246.471Zm202.705,11.066s-.037-11.6-.105-12.04v-.055h-.01a8.651,8.651,0,0,0-8.533-7.242V-235.4h-5.86v-25.2h5.86a14.509,14.509,0,0,1,14.508,14.508V-235.4Zm-217.349-11.066a29.134,29.134,0,0,1,29.1-29.1v5.6a23.525,23.525,0,0,0-23.5,23.5Z"
            transform="translate(3633 538)"
            fill="#fff"
          ></path>
        </g>
      </svg>
    </a>
  </div>
</div>